.list {
  &__wrapper {
    .wrapper__body {
      padding: $padding-0 $padding-4;
      height: 312px;
      overflow: auto;

      .list__table {
        table-layout: fixed;
        width: 100%;
        min-width: 400px;
        max-height: 300px;
        &__btnDelte {
          display: none;
        }
        thead {
          th {
            // border-top: none;
            background: $color-primary-dark;
          }
        }
        td {
          @include text-shorten();
        }
        tbody {
          tr {
            cursor: pointer;
          }
          tr:hover .list__table__btnDelete {
            display: block;
          }
        }
      }
      @media only screen and (max-width: 480px) {
        padding: $padding-0;
        // overflow-x: scroll;
        .list__table {
          width: 480px;
        }
      }
    }
  }
}
