.adminCourses {
  .adminContainer {
    @include admin-grid-layout(auto auto, 1fr, 8px 0);
    grid-template-areas:
      "list"
      "item";
  }
}

.adminCourses {
  // overflow-x: auto;

  &__list,
  &__item {
    padding: $padding-2;
    // grid-area: list;
    height: 100%;
    overflow: auto;
    /*     &__tableWrapper {
      box-shadow: $shadow-1;
      min-height: 390px;
    }
    .tableWrapper__body {
      padding: $padding-0 !important;
    }
    .tableWrapper__title {
      font-size: $font-size-lg;
      padding: $padding-1;
    }
 */
  }
  .list__wrapper,
  .item__wrapper {
    box-shadow: $shadow-1;
    min-height: 390px;
    .wrapper__title {
      font-size: $font-size-lg;
      padding: $padding-1;
    }
    .wrapper__body {
      overflow: auto ;
    }
  }

  &__item {
    grid-area: item;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr minmax(auto, 1fr);
    grid-template-rows: minmax(auto,600px);
    gap: 0 16px;
    @media only screen and (max-width: 960px) {
      grid-template-columns: 1fr;
      grid-template-rows: auto auto;
      row-gap: 32px;
    }
  }
}
